* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  font-family: 'Playfair Display', serif;
  color: #fff;
  font-size: 100%;
}

picture {
  display: block;
}

img {
  display: block;
  height: auto;
  width: 100%;
}
