body {
  background-color: black;
}

.titulo{
text-align: center;


}

.subtitulo{
text-align: center;
margin-right: 2%;
min-width: 200px;
}

.home {
  padding: 1.5rem;
  max-width: 120000px;
  margin:  auto;
  background-color:black;
}

.home article header {
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin-top: 6rem;
  margin-bottom: 6rem;
}

@media(max-width: 900px) {
  .home article header {
    flex-direction: column;
    align-items: center;
  }
}

.home article section {
  display: flex;
      margin-left: 6rem;
      margin-right: 6rem;
  margin-bottom: 1.25rem;
}

@media(max-width: 1100px) {
  .home article section {
    flex-direction: column;
    align-items: center;
  }
}

.home article section picture {
  margin-right: 3rem;
}

@media(max-width: 1100px) {
  .home article section picture {
    margin-right: 0;
  }
}

.sakaguchi{
  margin: auto;
width: 280px;
height: 280px;
}


.cita{
 display: flex;
 flex-direction: column;
  margin-left: 4rem;
    margin-right: 4rem;
  margin-bottom: 1.25rem;
  max-width: 400px;
}

.ff1{
width: 240px;
height: 240px;
}


.ff2{
 margin: auto;
  max-width: 1100px;
  max-height: 640px;
}
.chocobo{
margin: auto;
width: 300px;
height: 265px;
}


.api {
margin: auto;
padding-top: 180px;
margin-bottom: 130PX;
text-align: center;
max-width: 300px;
max-height: 265px;

}

