.monsterTittle{
text-align: center;
margin-top: 4%;
margin-bottom: 4%;
}

#buscadorMonster {
  margin: 2%;
  background: url(https://cdn0.iconfinder.com/data/icons/slim-square-icons-basics/100/basics-19-32.png) no-repeat 0px 5px;
  background-size: 24px;
  color: rgb(147, 233, 176);
  width: 500px;
  border: transparent;
  border-bottom: solid 1px rgb(255, 255, 255);
  padding: 10px 10px 10px 30px;
  outline: none;
}


.searchImg{
  background-color: #123;
  background-image: linear-gradient(to bottom, rgb(255, 255, 255), transparent);
  border-bottom: 1px solid #0003;
  box-shadow: 0 0 32px rgba(125, 243, 214, 0.705);
  font-size: 1.5em;
}

.searchImg > a:hover {
  color: #adf;
}


.overworld{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}


.globeMonster{
 width: 600px;

}
.monsterPicture {
width: 210px;
height: 200px;
margin: auto;

}

.categoriesMonsters{
  border: solid 1px #424542;
  box-shadow: 1px 1px #e7dfe7,
              -1px -1px #e7dfe7,
              1px -1px #e7dfe7,
              -1px 1px #e7dfe7,
              0 -2px #9c9a9c,
              -2px 0 #7b757b,
              0 2px #424542;
  width: 500px;
  padding: 5px 10px;
  margin: 50px 50px;
      font-family: Verdana, sans-serif;
      color: #eff1ff;
  text-shadow: 2px 2px #212421,
               1px 1px #212021;

  background: #04009d;
  background: -moz-linear-gradient(top,  #04009d 0%, #06004d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#04009d), color-stop(100%,#06004d));
  background: -webkit-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: -o-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: -ms-linear-gradient(top,  #04009d 0%,#06004d 100%);
  background: linear-gradient(to bottom,  #04009d 0%,#06004d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#04009d', endColorstr='#06004d',GradientType=0 );


  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
}

#japaneseName {
color: white ;

}

#elementalAffinity {
color: white ;

}

#elementalWeakness {
color: white ;

}

#hitPoints {
color: white ;

}

#manaPoints {
color: white ;

}

#attack {
color: white ;

}

#defense {
color: white ;

}
